.search-form {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px
}

.search-full-width {
  width: 100%;
}

.search-logo {
  margin-left: 10px;
}

.search-filter {
  font-size: small;
  font-weight: 100;
  color: gray;
}
